*.user
*.suo
*.cache
*.sln
*.ncrunchsolution
*.dgml
bin
obj
/apps
/tests/*
packages
views
!/bootstrap/packages
!/bootstrap/bin
!/bootstrap/views
.vs
*~
TestResult.xml
Settings.FSharpLint
all.userprefs
*.mdb
/refbin

