qa/local
qa/qa-setup
qa/qa-init
tools/paket.exe
*.user
*.suo
*.cache
*.sln
*.ncrunchsolution
*.dgml
bin
obj
/apps
/tests/cs-*
packages
views
history.txt
!/bootstrap/packages
!/bootstrap/bin
!/bootstrap/views
!/bootstrap/bootstrap.sln
.vs
*~
TestResult.xml
Settings.FSharpLint
all.userprefs
*.mdb
/refbin
