os: Visual Studio 2015

environment:
  GITHUB_TOKEN:
    secure: SNU7aaT74dbTXWCsWeFxWvfwJ4BLItFdO2EY7MYoEg9vec2EGBloH8PNDpkJbBKg

skip_tags: true

version: 2.4.{build}

shallow_clone: true

build_script:
  - cmd: build-all.cmd %APPVEYOR_BUILD_VERSION%
  
test_script:
  - ps: . .\pushtestresult.ps1

artifacts:
  - path: apps/full-build.zip
    name: app

  - path: apps/full-build.nupkg
    name: nuget

deploy:
  - provider: GitHub
    release: 'full-build v$(appveyor_build_version)'
    description: '$(appveyor_repo_commit) $(appveyor_repo_commit_message)'
    auth_token:
      secure: SNU7aaT74dbTXWCsWeFxWvfwJ4BLItFdO2EY7MYoEg9vec2EGBloH8PNDpkJbBKg
    artifact: apps/full-build.zip
    draft: false
    prerelease: false
    on:
      branch: master
      appveyor_repo_tag: false

  - provider: NuGet
    api_key:
      secure: 497rsDkO6DO9dnd9LoozwZeWYxLWzq8avJ0yAIka+wBOnrYhw54yUQknWJ7XQm7S
    skip_symbols: true
    symbol_server:
    artifacts: apps/full-build.nupkg

notifications:
  - provider: GitHubPullRequest
    auth_token:
      secure: SNU7aaT74dbTXWCsWeFxWvfwJ4BLItFdO2EY7MYoEg9vec2EGBloH8PNDpkJbBKg
    template: '{{#passed}}:white_check_mark:{{/passed}}{{#failed}}:x:{{/failed}} [Build {{&projectName}} {{buildVersion}} {{status}}]({{buildUrl}}) (commit {{commitUrl}} by @{{&commitAuthorUsername}})'
  - provider: Slack
    auth_token:
      secure: w7TtD+2R6TPM1sPDSgXpkPWBzKsuOdQ1VA89MVRrQz1hyDYxmKe4MXK9UuebkoZ76yiqqqPdjPa8KsS2Flj0Whh/BXYPiw2pH+C56dhq8TM=
    channel: '#builds'
