[project]
	description = smart build system for .net
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pierre Chalamet (pchalamet)
[access "refs/for/refs/*"]
	read = group user/Pierre Chalamet (pchalamet)
	push = group user/Pierre Chalamet (pchalamet)
	label-Code-Review = -2..+2 group user/Pierre Chalamet (pchalamet)
	label-Verified = -1..+1 group user/Pierre Chalamet (pchalamet)
	rebase = group user/Pierre Chalamet (pchalamet)
	removeReviewer = group user/Pierre Chalamet (pchalamet)
	submit = group user/Pierre Chalamet (pchalamet)
[access "refs/heads/*"]
	read = group user/Pierre Chalamet (pchalamet)
	create = group user/Pierre Chalamet (pchalamet)
	push = +force group user/Pierre Chalamet (pchalamet)
	pushMerge = group user/Pierre Chalamet (pchalamet)
[access "refs/tags/*"]
	push = group user/Pierre Chalamet (pchalamet)
	push = +force group user/Pierre Chalamet (pchalamet)
