<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="FullBuildConfig" type="FullBuild.SectionHandler, FullBuild" />
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <FullBuildConfig>
        <PackageGlobalCache>c:\PackageGlobalCache</PackageGlobalCache>
        <AdminRepo name="admin" vcs="git" url="https://github.com/pchalamet/cassandra-sharp-full-build" />
    </FullBuildConfig>

    <nlog>
        <targets>
            <target name="Default" type="ColoredConsole" />
        </targets>

        <rules>
            <logger name="*" minlevel="Info" writeTo="Default" />
        </rules>
    </nlog>

</configuration>