<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.21.0.176" targetFramework="net45" />
  <package id="Mercurial.Net" version="1.1.1.607" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net45" />
  <package id="Mini" version="0.4.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NLog" version="4.0.0" targetFramework="net45" />
  <package id="semver" version="1.1.2" targetFramework="net45" />
</packages>