source https://www.nuget.org/api/v2/
source http://siriona-proget/nuget/default

nuget Nuget.CommandLine
nuget FSharp.Core 4.0.0.1 framework: >= net45
nuget FsPickler 1.3.7 framework: >= net45
nuget FsPickler.CSharp 1.3.7 framework: >= net45
nuget FsPickler.Json 1.3.7 framework: >= net45
nuget FsUnit 1.3.1.0 framework: >= net45
nuget LibGit2Sharp 0.21.0.176 framework: >= net45
nuget Mercurial.Net 1.1.1.607 framework: >= net45
nuget Microsoft.Bcl.Immutable 1.0.34 framework: >= net45
nuget Mini 0.4.2.0 framework: >= net45
nuget Newtonsoft.Json 7.0.1 framework: >= net45
nuget NFluent 1.3.1.0 framework: >= net45
nuget NLog 4.0.1
nuget NUnit 2.6.4
nuget semver 1.1.2 framework: >= net45
nuget xunit 1.9.1 framework: >= net45